.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
label{
  
  margin-right: 110px;
  color: #007bff;
}

button{
    background-color: #007bff;
    color: ghostwhite;
}
body{
    background-color:  #212529;
}